<footer class="contato" id="contato">
  <h2 class="contato__title" [@scrollAnimation]="state">Get in Touch...</h2>
  <a href="mailto:alwinjoseofficial@gmail.com" [@scrollAnimation]="state">
    <button class="btn-secondary btn--degrade">CONTACT</button>
  </a>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item ">
      <a href="https://github.com/alwixnjose"><i class="fab fa-github fa-3x "></i></a>
    </li>
    <li class="list__item">
      <a href="https://x.com/alwinxmarvel?t=ox9D9XSVCdKYNUNKDy2JMQ&s=09"><i class="fab fa-twitter fa-3x"></i></a>
    </li>
  </ul>
  &copy; Alwin Jose
</footer>